@media(max-height: 560px) {
  #cover-image {
    max-height: 250px;
  }
}

@media(max-height: 700px) and (min-height: 561px) {
  #cover-image {
    max-height: 300px;
  }
}

@media (max-width: 450px) {
  #cover-image {
    max-width: 75%;
  }
}

@media (min-width: 451px) {
  #cover-image {
    max-width: 50%;
  }
}

body {
  background-color: #1D1A1A;
  margin: 3em 0 0 0;
  padding: 0;
  color: #DBD7D7;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* padding: 0 15px; */
}

#cover-image {
  position: relative;
  transform: translateX(8%);
}

footer {
  width: 100%;
  color: #ACACAC;
  font-size: 12px;
  font-weight: lighter;
  padding: 20px 10px;
  box-sizing: border-box;
}

.main-content {
  padding-top: 30px;
  line-height: 25px;
}

.follow-container {
  padding: 20px;
  font-size: 20px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.row {
  width: 100%;
  text-align: center;
}